---
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";

const logos = [
	"logos:react",
	"logos:astro",
	"logos:nodejs-icon",
	"logos:typescript-icon",
];
---

<Layout title="Home">
	<h1>Hello world!</h1>
	<div class="container">
		{
			logos.map((logo) => {
				return (
					<div class="logos_container">
						<Icon name={logo} class="logos" />
					</div>
				);
			})
		}
	</div>
</Layout>

<style lang:"scss">
	.container {
		display: flex;
		gap: 1.2rem;
	}
	.logos_container {
		padding: 0.4rem;
		border-radius: 8px;
		width: 7.2rem;
		height: 7.2rem;
		background-color: white;
	}

	.logos {
		width: 6.4rem;
		height: 6.4rem;
	}
</style>
